.map iframe {
    width: 100%;
    height: 30rem;

}

.contact {
    color: white;
    align-items: center;
}

.contact a {
    color: white;
    text-decoration: none;


}

.contact i {
    padding-right: 1rem;

}

.contact a h5 {
    line-height: 3rem;

}

.icons {
    font-size: 1.5rem;
}