.map iframe {
    width: 100%;
    height: 30rem;


}

.contact {
    color: white;
    align-items: center;
}

.contact {
    background-image: url(./../../../Assets/Images/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact a {
    color: white;
    text-decoration: none;


}

.contact i {
    padding-right: 1rem;


}

.icons a:hover i {
    transform: scale(1.3);
    transition: 0.1s;
    color: #A37E2C;

}

.contact a :hover {
    /* transform: scale(1.1); */
    /* transition: 0.3s; */
    color: #A37E2C;
    font-weight: 700;
    cursor: pointer;

}

.contact a h5 {
    line-height: 3rem;

}

.icons {
    font-size: 1.5rem;
}

.icons {
    font-size: 1.8rem;
}