.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(100vh - 10rem) !important;
}

.portfolioModal .bg-dark {
    --bs-bg-opacity: .5;
    /* --bs-bg-opacity: 1; */
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}



/* mobile devices */
@media only screen and (max-width:688px) {

    .image-gallery {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        position: relative;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
        margin-top: 7rem;
    }

}