.Portfolio {
    background-image: url("./../../../Assets/Images/1253123.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    background-size: cover;
}

.Portfolio p {
    text-align: justify;
    text-justify: inter-word;

}