.Portfolio {
    background-image: url("./../../../Assets/Images/1253123.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    background-size: cover;
}

.Portfolio p {
    text-align: justify;
    text-justify: inter-word;

}

.Portfolio .zoom {
    cursor: pointer;

}

.Portfolio .zoom h3 {
    cursor: pointer;

}

.Portfolio .zoom:hover h3 {
    color: #a37e2c;
    cursor: pointer;
    font-weight: 700;


}

.Portfolio .zoom:hover i {
    color: white;


}


.brandColor {
    color: #a37e2c;

}