.OurStory {
    background-image: url("./../../../Assets/Images/about-us-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    background-size: cover;
}

.OurStory p {
    text-align: justify;
    text-justify: inter-word;
}

hr {
    width: 50%;
    opacity: 1;
    border: solid #A37E2C;
    border-radius: 5px;
}