.WhyChooseUs {
    background-image: url("./../../../Assets/Images/IMG_0996.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    background-size: cover;
}

.WhyChooseUs i {
    font-size: 3rem;
    color: #A37E2C;
}