.HeroSection {
    background-image: url("./../../../Assets/Images/IMG_8779.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    background-size: cover;
}

.heroText {
    background: rgba(0, 0, 0, 0.5)
}

.zoom:hover {
    transform: scale(1.1);
    transition: 0.3s;

}

/* mobile devices */
@media only screen and (max-width:688px) {



    .HeroSection {
        background-image: url("./../../../Assets/Images/herosectionMobile.jpg");

    }

    .OurStory {
        background-image: url("./../../../Assets/Images/AboutusMobile.jpg") !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100% !important;
        color: white;
        display: flex;
        align-items: center;
        background-size: cover;
    }

    .OurStory .aboutUsContainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .aboutUsText {
        padding: 0 !important;
    }



    .Testimonial {
        background-image: url("./../../../Assets/Images/testimonialMobile.jpg") !important;

        height: 100% !important;

    }

    .BestInPrice {
        background-image: url("./../../../Assets/Images/bestInPriceMobile.jpg") !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100% !important;
        color: white;
        display: flex;
        align-items: center;
        background-size: cover;
    }

    .WhyChooseUs {
        background-image: url("./../../../Assets/Images/whyChoseUsMobile.jpg") !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100% !important;
        color: white;
        display: flex;
        align-items: center;
        background-size: cover;
    }

    .specialist {
        background-image: url("./../../../Assets/Images/specializationMobile.jpg") !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100% !important;
        color: white;
        display: flex;
        align-items: center;
        background-size: cover;
    }



    .Portfolio {
        background-image: url("./../../../Assets/Images/1253123.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100% !important;
        color: white;
        display: flex;
        align-items: center;
        background-size: cover;
    }
}

/* tablate devices */

@media only screen and (min-width:689px) and (max-width:992px) {}

/* small monitor  */
@media only screen and (max-width:1480px) {
    .OurStory {
        height: 100% !important;
    }

    .WhyChooseUs {
        height: 100% !important;
    }

    .Testimonial {
        height: 100% !important;
    }
}