.HeroSection {
    background-image: url("./../../../Assets/Images/IMG_8779.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    background-size: cover;
}

.heroText {
    background: rgba(0, 0, 0, 0.5)
}


/* mobile devices */
@media only screen and (max-width:688px) {



    .OurStory {
        background-image: url("./../../../Assets/Images/about-us-background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100% !important;
        color: white;
        display: flex;
        align-items: center;
        background-size: cover;
    }

    .WhyChooseUs {
        background-image: url("./../../../Assets/Images/2123123.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100% !important;
        color: white;
        display: flex;
        align-items: center;
        background-size: cover;
    }

    .BestInPrice {
        background-image: url("./../../../Assets/Images/33.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100% !important;
        color: white;
        display: flex;
        align-items: center;
        background-size: cover;
    }

    .WhyChooseUs {
        background-image: url("./../../../Assets/Images/22.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100% !important;
        color: white;
        display: flex;
        align-items: center;
        background-size: cover;
    }



    .specialist {
        background-image: url("./../../../Assets/Images/IMG_7176.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100% !important;
        color: white;
        display: flex;
        align-items: center;
        background-size: cover;
    }



    .Memories {
        background-image: url("./../../../Assets/Images/IMG_0996.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100% !important;
        color: white;
        display: flex;
        align-items: center;
        background-size: cover;
    }
}

/* tablate devices */

@media only screen and (min-width:689px) and (max-width:992px) {}