.swiper {
    width: 100%;

}

.portfolioModal .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 90vh;



}

.section-center {
    overflow-x: hidden;
}


.portfolioModal .btn-close {

    background: transparent url(./../../Assets/Images//close-icon.png) center/1em auto no-repeat !important;

}